
/* ------------------------ GENERAL ------------------------ */

*{
    margin: 0;
    padding: 0;
    border: 0;
}     

body {
    font-family: system-ui;
    letter-spacing: .04em;
    text-align: center;

    background: url('imagenes/bg-blue.avif');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: aliceblue;

    opacity: 0;
    animation: carga 1s .6s forwards;

    height: 98vh;
    width: 98vw;
    margin: 1vh 1vw;
}

@keyframes carga {   /*  Animcion carga inicial    */
    to {
        opacity: 1;
    }
}

button{
    border-radius: 1em;
    padding: .6em 1em;
    user-select: none;

    font-size: 1.2em;
    letter-spacing: .08em;
}

button:hover{
    scale: 1.08;
    cursor: pointer;
}

.radio{
    display: none;
}


/* ------------------------ MENSAJES ------------------------ */


.titulo{
    font-size: 1.6em;
    height: 8vh;
    display: flex;
    align-items: center;
}

.mensajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    height: 20vh;
}

#mensaje {
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/* -- ICONOS -- */
.iconos{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    place-content: center;

    padding: 2em 0;
    width: 80%;
    gap: 60px;
}

.icono{
    height: 80px;
    width: 80px;
}

.icono img {
    height: 90%;
    width: 90%;
    margin: 5%;
    transition: all .1s;
}

.icono:hover img {
    height: 120px;
    width: 120px;
    cursor: pointer;
    translate: -5px -15px;
}

.icono:has(input:checked) {
    scale: 1.1;
    transition: all .1s;
    animation: cabecear 3s infinite;
}

@keyframes cabecear{
    33%{
        rotate: 20deg;
    }
    66%{
        rotate: -20deg;
    }
}


/* ------------------------  JUEGO ------------------------ */

canvas{
    width: 100%;
    margin: 2em 0;
}

.botones-correr{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.btn-correr{
    padding: 1em 1.6em;
}


/* ------------------------  FOOTER ------------------------ */

footer {
    position: fixed;
    bottom: 0;
    padding: 1em;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2em;
    font-weight: 700;
}

/* ------------------------  RESPONSIVE ------------------------ */

@media all and (min-width:1024px)    {
    .mensajes{
        height: 24vh;
    }
    .mensaje{
        height: 18vh;
    }

    .iconos {
        gap: 60px;
    }

    .botones-correr{
        display: none;
    }
    
    canvas {
        max-width: 1204px;
        border-radius: .6em;
    }
}