@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

                                                /*   GENERAL    */

:root{
    --marca:rgb(0, 119, 255);

}   
*{
    margin: 0;
    padding: 0;
    border: 0;
}                                             
body {
    font-family: 'Patua One', cursive;
    background-image: url('imagenes/fondo-pantalla.png');
    color: black;
    display: flex;
    flex-direction: column;
}
div{
    display: flex;
}

h1{
    text-align: center;
    color: black;
    border-radius: 0.4em;
    padding: 0.4em 0 1em 0;
    margin: 0 auto 1em auto;
    width: 96%;
    background-color: var(--marca);
}

.boton{
    border-radius: 10px;
    align-self: center;
    flex-direction: column;
    padding: 1em 2em;
    user-select: none;
}

.boton:hover{
    background-color: #bdf5ff;
    cursor: pointer;
}
                                                /*   INTRO    */


#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-bottom: 0.4em;
    width: 96%;
    border-radius: 1em;
    height: min-content;
    min-height: 25vh;
    background-color: var(--marca);
}
#intro .boton{
    margin-top: 2em;
}

#inicio{
    flex-direction: column;
}

label img:hover {
    height: 120px;
    width: 120px;
    padding: 0px;
    cursor: pointer;
}

input:checked + label {
    background-color: #bdf5ff;
}

#iconos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.icono{
    height: 120px;
    width: 120px;
    border-radius: 58px;
    margin: 20px;
}

.icono img {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.radio{
    display: none;
}

.contenedor-btn-eleccion{
    display: flex;
    align-items: flex-start;
    background-color: var(--marca);
    width: fit-content;
    padding: 1.6em 3em;
    margin: 0 2em 0.4em 2em;
    border-radius: 1em;
}


                                                /*   JUEGO    */


#carrera{
    flex-direction: column;
}

#mensajeNivel{
    margin-left: 1em;
}

#resultado{
    padding: 0.4em;
    height: 10em;
}

#cuenta-regresiva{
    margin-left: 1em;
}


#canvas{
    width: 100%;
    margin: 0.6em 0;
}


#botones{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.btn-correr{
    user-select: none;
    border: 2px solid black;
}



                                                /*   RESPONSIVE    */


@media all and (min-width:480px)    {
    #botones{
        justify-content: space-evenly;
    }
}

@media all and (min-width:768px)    {
    h1{
        width: 80%;
    }
    #botones{
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }
    #intro{
        text-align: start;
        min-height: 16vh;
        padding: 0.4em 1em;
        width: 96%;
    }
}

@media all and (min-width:1024px)    {
    h1{
        width: 60%;

    }
    #botones{
        display: none;
    }
}

