    /* ---------------------------------------------------------  GENERAL    */
*{
    margin: 0;
    padding: 0;
    border: 0;
}     

body {
    font-family: system-ui;

    background: url('imagenes/bg-blue.avif');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: aliceblue;

    opacity: 0;
    animation: carga 1s .6s forwards;

    height: 98vh;
    width: 98vw;
    margin: 1vh 1vw;
}

@keyframes carga {   /*  Animcion carga inicial    */
    to {
        opacity: 1;
    }
}


/*    --------- Cabecera    ---------------    */

div{
    display: flex;
}

.titulo{
    text-align: center;
    font-size: 1.6em;

    border-radius: 0.4em;
    

    height: 8vh;
}

.boton{
    border-radius: 1em;
    padding: .6em 1em;
    user-select: none;

    font-family: cursive;
    font-size: 1.2em;
}

.boton:hover{
    scale: 1.08;
    cursor: pointer;
}


.radio{
    display: none;
}

    /* ---------------------------------------------  INICIO MENSAJES    */


.mensajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-size: .8em;

    width: 96%;
    height: 26vh;
    border-radius: 1em;
}

#mensaje {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-seleccion{
    flex-direction: column;
    align-items: center;
}

label img:hover {
    height: 120px;
    width: 120px;
    padding: 0px;
    cursor: pointer;
}

input:checked + label {
    scale: 1.1;
    transition: all .1s;

    animation: cabecear 3s infinite;
}

@keyframes cabecear{
    33%{
        rotate: 20deg;
    }
    66%{
        rotate: -20deg;
    }
}

.iconos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.icono{
    height: 80px;
    width: 80px;
    margin: 20px;
}

.icono img {
    height: 90%;
    width: 90%;
    margin: 5%;

    transition: all .1s;
}
.icono img:hover{
    translate: -5px -15px;
}


.contenedor-btn-eleccion{
    width: fit-content;
    padding: 1.6em 3em;
    margin: 0 2em 0.4em 2em;
    border-radius: 1em;
}


        /* -------------------------------------------------  JUEGO    */

canvas{
    width: 100%;
    margin: 1em 0;
}

.botones-correr{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-correr{
    user-select: none;
    padding: 1em 1.6em;

    touch-action: manipulation;
}



    /*  -----------------------------------------------------------   RESPONSIVE    */


@media all and (min-width:480px)    {
    .botones-correr{
        justify-content: space-evenly;
    }
}

@media all and (min-width:768px)    {
    .titulo{
        width: 80%;
    }
    .botones-correr{
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }
    .mensajes{
        text-align: start;
        min-height: 16vh;
        padding: 0.4em 1em;
        width: 96%;
    }
}

@media all and (min-width:1024px)    {
    .titulo{
        width: 60%;

    }
    .botones-correr{
        display: none;
    }
}

